In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('vgsales.csv')

In [ ]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [ ]:
#Cuantas categorías hay en la columna género(genre)
print(np.unique(df['Genre']))
#Cantidad de categorías
print(len(np.unique(df['Genre'])))

['Action' 'Adventure' 'Fighting' 'Misc' 'Platform' 'Puzzle' 'Racing'
 'Role-Playing' 'Shooter' 'Simulation' 'Sports' 'Strategy']
12

In [ ]:
# importar labelEncoder desde sklearn
from sklearn.preprocessing import LabelEncoder

In [ ]:
#Crear un objeto label encoder
gle = LabelEncoder()

#Transformación a lables la columna Genre utilizando el objeto gle
genre_labels = gle.fit_transform(df['Genre'])

In [ ]:
genre_labels

array([10,  4,  6, ...,  6,  5,  4])

In [ ]:
# Añadir la nueva columna al dataset
# df['Genre_Labels'] = genre_labels

In [ ]:
# Crear un diccionario con el mapeo de indices y valores

genre_mappings = {k:v for k,v in enumerate(gle.classes_)}
genre_mappings

{0: 'Action',
 1: 'Adventure',
 2: 'Fighting',
 3: 'Misc',
 4: 'Platform',
 5: 'Puzzle',
 6: 'Racing',
 7: 'Role-Playing',
 8: 'Shooter',
 9: 'Simulation',
 10: 'Sports',
 11: 'Strategy'}

In [ ]:
df['Genre_Labels'] = genre_labels

In [ ]:
df.loc[:,['Name','Platform','Genre','Genre_Labels']].head(10)

                        Name Platform         Genre  Genre_Labels
0                 Wii Sports      Wii        Sports            10
1          Super Mario Bros.      NES      Platform             4
2             Mario Kart Wii      Wii        Racing             6
3          Wii Sports Resort      Wii        Sports            10
4   Pokemon Red/Pokemon Blue       GB  Role-Playing             7
5                     Tetris       GB        Puzzle             5
6      New Super Mario Bros.       DS      Platform             4
7                   Wii Play      Wii          Misc             3
8  New Super Mario Bros. Wii      Wii      Platform             4
9                  Duck Hunt      NES       Shooter             8

#Dummy Coding

In [ ]:
# Crear las columnas dummies para la columna Genre (Está dentro de pandas)

genre_dummies = pd.get_dummies(df['Genre'])
genre_dummies

,Action,Adventure,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,0,0,0,0,1,0,0,0,0,0,0,0
16594,0,0,0,0,0,0,0,0,1,0,0,0
16595,0,0,0,0,0,0,1,0,0,0,0,0
16596,0,0,0,0,0,1,0,0,0,0,0,0
16597,0,0,0,0,1,0,0,0,0,0,0,0

In [ ]:
# Crear un nuevo dataset (Copia) que contenga las columnas más importantes + las dummies

df_final = pd.concat([df[['Name','Publisher','Year','Genre']],genre_dummies], axis = 1)
df_final.head(10)

,Name,Publisher,Year,Genre,Action,Adventure,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
0,Wii Sports,Nintendo,2006.0,Sports,0,0,0,0,0,0,0,0,0,0,1,0
1,Super Mario Bros.,Nintendo,1985.0,Platform,0,0,0,0,1,0,0,0,0,0,0,0
2,Mario Kart Wii,Nintendo,2008.0,Racing,0,0,0,0,0,0,1,0,0,0,0,0
3,Wii Sports Resort,Nintendo,2009.0,Sports,0,0,0,0,0,0,0,0,0,0,1,0
4,Pokemon Red/Pokemon Blue,Nintendo,1996.0,Role-Playing,0,0,0,0,0,0,0,1,0,0,0,0
5,Tetris,Nintendo,1989.0,Puzzle,0,0,0,0,0,1,0,0,0,0,0,0
6,New Super Mario Bros.,Nintendo,2006.0,Platform,0,0,0,0,1,0,0,0,0,0,0,0
7,Wii Play,Nintendo,2006.0,Misc,0,0,0,1,0,0,0,0,0,0,0,0
8,New Super Mario Bros. Wii,Nintendo,2009.0,Platform,0,0,0,0,1,0,0,0,0,0,0,0
9,Duck Hunt,Nintendo,1984.0,Shooter,0,0,0,0,0,0,0,0,1,0,0,0

#Feature Hashing

In [ ]:
print(np.unique(df['Platform']))
print(len(np.unique(df['Platform'])))

['2600' '3DO' '3DS' 'DC' 'DS' 'GB' 'GBA' 'GC' 'GEN' 'GG' 'N64' 'NES' 'NG'
 'PC' 'PCFX' 'PS' 'PS2' 'PS3' 'PS4' 'PSP' 'PSV' 'SAT' 'SCD' 'SNES' 'TG16'
 'WS' 'Wii' 'WiiU' 'X360' 'XB' 'XOne']
31

Aplicaremos Feature Hashing para codificar la columna Platform, debido a que contiene demasiadas categorías para aplicar get_dummies

In [ ]:
# Importar la libreria de Feature Hshing
from sklearn.feature_extraction import FeatureHasher

#Crear un objeto FeatureHasher
fh = FeatureHasher(n_features = 10, input_type = 'string')

# Realizamos la codificación
hashed_features = fh.fit_transform(df['Platform'])

#Convertir en array el resultado
hashed_features = hashed_features.toarray()

#Crear un nuevo dataframe con la columna codificada
df_final2 = pd.concat([df[['Name','Publisher', 'Year', 'Genre','Platform']], pd.DataFrame(hashed_features)], axis=1)
df_final2.head(10)

,Name,Publisher,Year,Genre,Platform,0,1,2,3,4,5,6,7,8,9
0,Wii Sports,Nintendo,2006.0,Sports,Wii,0.0,-2.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0
1,Super Mario Bros.,Nintendo,1985.0,Platform,NES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0
2,Mario Kart Wii,Nintendo,2008.0,Racing,Wii,0.0,-2.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0
3,Wii Sports Resort,Nintendo,2009.0,Sports,Wii,0.0,-2.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0
4,Pokemon Red/Pokemon Blue,Nintendo,1996.0,Role-Playing,GB,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,Tetris,Nintendo,1989.0,Puzzle,GB,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,New Super Mario Bros.,Nintendo,2006.0,Platform,DS,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.0,0.0
7,Wii Play,Nintendo,2006.0,Misc,Wii,0.0,-2.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0
8,New Super Mario Bros. Wii,Nintendo,2009.0,Platform,Wii,0.0,-2.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0
9,Duck Hunt,Nintendo,1984.0,Shooter,NES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0

#Datos Faltantes

In [ ]:
df.isnull()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Genre_Labels
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,False,False,False,False,False,False,False,False,False,False,False,False
16594,False,False,False,False,False,False,False,False,False,False,False,False
16595,False,False,False,False,False,False,False,False,False,False,False,False
16596,False,False,False,False,False,False,False,False,False,False,False,False
16597,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Saber cuantos null hay por cada columna
df.isnull().sum(axis=0)

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
Genre_Labels      0
dtype: int64

In [ ]:
new_df = df.loc[:,['Name','Publisher','Platform','Year']]

In [ ]:
null_data = new_df[new_df.isnull().any(axis=1)] #Selecciona todos los nulos en las columnas
null_data

,Name,Publisher,Platform,Year
179,Madden NFL 2004,Electronic Arts,PS2,NaN
377,FIFA Soccer 2004,Electronic Arts,PS2,NaN
431,LEGO Batman: The Videogame,Warner Bros. Interactive Entertainment,Wii,NaN
470,wwe Smackdown vs. Raw 2006,NaN,PS2,NaN
607,Space Invaders,Atari,2600,NaN
...,...,...,...,...
16427,Virtua Quest,Unknown,GC,NaN
16493,The Smurfs,Unknown,3DS,NaN
16494,Legends of Oz: Dorothy's Return,NaN,3DS,2014.0
16543,Driving Simulator 2011,NaN,PC,2011.0
16553,Bound By Flame,NaN,X360,2014.0